{% extends "base.html" %}
{% block lab %}Лабораторная работа 4{% endblock %}
{% block main %}
<h1>Холодильник</h1>
<h3 style="color: blue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{ error }}</h3>
<form method = "post">
    <div>
        <label for="temp">Температура:</label>
        <input type="number" id="temp" name="temp" value="{{ temp }}">
    </div>
    <div>
        <button type="submit">Установить температуру</button>
    </div>
</form>
{% endblock %}