{% extends "base.html" %}
{% block main %}
    <h1>Список пользователей</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} ({{ user.username }})
                {% if user.username == current_user %}
                    <form action="{{ url_for('lab4.edit_user', username=user.username) }}" method="get">
                        <button type="submit">Редактировать</button>
                    </form>
                    <form action="{{ url_for('lab4.delete_user', username=user.username) }}" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}