{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<body>
    <h1>Cats!</h1>
    <img src="{{ url_for('static', filename='lab1/cat1.jpg') }}" width="300" height="auto">
    <p>This is cat 1. Very playful!</p>
    
    <img src="{{ url_for('static', filename='lab1/cat2.jpeg') }}" width="300" height="auto">
    <p>This is cat 2. Loves to nap!</p>
    
    <img src="{{ url_for('static', filename='lab1/cat3.jpg') }}" width="300" height="auto">
    <p>This is cat 3. Very curious!</p>
    
    <img src="{{ url_for('static', filename='lab1/cat4.jpg') }}" width="300" height="auto">
    <p>This is cat 4. Enjoys climbing!</p>
    
    <img src="{{ url_for('static', filename='lab1/cat5.jpg') }}" width="300" height="auto">
    <p>This is cat 5. Likes to chase laser pointers!</p>
</body>
{% endblock %}

