<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuvashova Margarita. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    {% block script %} {% endblock %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        <ol><a href="{{ url_for('menu') }}">Меню</a></ol>
        <ol><a href="{{ url_for('rgz.lab') }}">Меню РГЗ</a></ol>

        {% block main %}{% endblock %}
    </main>
    
    <footer>
        &copy; Чувашова Маргарита Вячеславовна, ФБИ-23, 3 курс, 2024
    </footer>
</body>
</html>