{% extends "base.html" %}

{% block lab %}Создание пользователя{% endblock %}

{% block main %}
    <h1>Создание пользователя</h1>

    <form onsubmit="createUser(event)">
        <label>
            ФИО:
            <input type="text" id="full-name" required>
        </label><br>
        <label>
            Логин:
            <input type="text" id="username" required>
        </label><br>
        <label>
            Пароль:
            <input type="password" id="password" required>
        </label><br>
        <label>
            Телефон:
            <input type="text" id="phone">
        </label><br>
        <label>
            Номер счета:
            <input type="text" id="account-number">
        </label><br>
        <label>
            Баланс:
            <input type="number" id="balance" value="0">
        </label><br>
        <label>
            Тип пользователя:
            <select id="user-type">
                <option value="user">Клиент</option>
                <option value="manager">Менеджер</option>
            </select>
        </label><br>
        <button type="submit">Создать</button>
    </form>

    <div id="create-user-result"></div>

    <script>
        async function createUser(event) {
            event.preventDefault();
            const fullName = document.getElementById('full-name').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const phone = document.getElementById('phone').value;
            const accountNumber = document.getElementById('account-number').value;
            const balance = document.getElementById('balance').value;
            const userType = document.getElementById('user-type').value;

            const baseUrl = window.location.origin; // Получаем базовый URL текущего сайта
            const endpoint = '/rgz/users'; // Относительный путь к endpoint

            const response = await fetch(baseUrl + endpoint, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    full_name: fullName,
                    username: username,
                    password: password,
                    phone: phone,
                    account_number: accountNumber,
                    balance: balance,
                    user_type: userType
                })
            });

            const result = await response.json();
            if (response.ok) {
                document.getElementById('create-user-result').innerText = 'Пользователь успешно создан';
            } else {
                document.getElementById('create-user-result').innerText = result.error || 'Ошибка при создании пользователя';
            }
        }
    </script>
{% endblock %}