{% extends "base.html" %}

{% block lab %}Панель управления{% endblock %}

{% block main %}
    <h1>Панель управления</h1>

    {% if not current_user.is_authenticated %}
        <div>
            <button onclick="window.location.href='{{ url_for('rgz.login') }}';">Войти</button>
        </div>
    {% else %}
        <div id="user-info">
            <p>Добро пожаловать, {{ current_user.username }}!</p>
            <p>Баланс: {{ current_user.balance }}</p>
        </div>

        <button onclick="window.location.href='{{ url_for('rgz.transaction_history') }}';">История транзакций</button>
        <button onclick="window.location.href='{{ url_for('rgz.transfer') }}';">Перевод средств</button>

        {% if current_user.user_type == 'manager' %}
            <button onclick="window.location.href='{{ url_for('rgz.create_user') }}';">Создать пользователя</button>
            <button onclick="window.location.href='{{ url_for('rgz.manage_users') }}';">Управление пользователями</button>
        {% endif %}

        <button onclick="logout();">Выйти</button>
    {% endif %}

    <script>
        function logout() {
            fetch("{{ url_for('rgz.logout') }}", { method: 'POST', credentials: 'include' })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "{{ url_for('rgz.login') }}";
                    }
                });
        }
    </script>
{% endblock %}