{% extends "base.html" %}

{% block lab %}Редактирование пользователя{% endblock %}

{% block main %}
<h1>Редактирование пользователя</h1>
<form method="POST">
    <label for="full_name">ФИО:</label>
    <input type="text" id="full_name" name="full_name" value="{{ user.full_name }}" required><br>

    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" value="{{ user.password }}" required><br>

    <label for="phone">Телефон:</label>
    <input type="text" id="phone" name="phone" value="{{ user.phone }}" required><br>

    <label for="account_number">Номер счета:</label>
    <input type="text" id="account_number" name="account_number" value="{{ user.account_number }}" required><br>

    <label for="balance">Баланс:</label>
    <input type="number" id="balance" name="balance" value="{{ user.balance }}" required><br>

    <label for="user_type">Тип пользователя:</label>
    <select id="user_type" name="user_type" required>
        <option value="client" {% if user.user_type == 'client' %}selected{% endif %}>Клиент</option>
        <option value="manager" {% if user.user_type == 'manager' %}selected{% endif %}>Менеджер</option>
    </select><br>

    <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}