{% extends "base.html" %}

{% block lab %}История транзакций{% endblock %}

{% block main %}
    <h1>История транзакций</h1>

    <table>
        <thead>
            <tr>
                <th>Отправитель</th>
                <th>Получатель</th>
                <th>Сумма</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.sender_id }}</td>
                    <td>{{ transaction.receiver_id }}</td>
                    <td>{{ transaction.amount }} ₽</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('rgz.dashboard') }}">Назад в панель управления</a>
{% endblock %}